<h1>New Task</h1>
<br>
<%# creates a form with action: /tasks and method: POST (see routes)%>
<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
<br>
<br>
<%= link_to "Back to list", tasks_path %>
